@import url("https://fonts.cdnfonts.com/css/content");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Content", sans-serif;
  color: #0F172A;
  background-color: #ffffff;
}

figure {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.Wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 1100px) {
  .Wrapper {
    grid-template-columns: 280px 1fr;
  }
}
.Sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 1100px) {
  .Sidebar {
    gap: 2em;
    background-color: #0B1020;
    height: 100vh;
    position: fixed;
  }
}
.Sidebar-figure {
  height: 93px;
  display: flex;
  background-color: #0B1020;
  justify-content: space-between;
  padding: 1em;
  z-index: 20;
  position: fixed;
  width: 100%;
}
@media screen and (min-width: 1100px) {
  .Sidebar-figure {
    position: static;
  }
}
.Sidebar-figure-brand {
  display: flex;
  gap: 1em;
}
.Sidebar-figure-brand-img {
  height: 50px;
  width: 50px;
  box-shadow: 0 12px 34px 0 rgba(109, 94, 252, 0.35);
  border-radius: 15px;
}
@media screen and (min-width: 1100px) {
  .Sidebar-figure-brand-img {
    height: 70px;
    width: 70px;
  }
}
.Sidebar-figure-brand-figcaption {
  color: #E9EEFC;
}
.Sidebar-figure-brand-figcaption-title {
  font-size: 20px;
}
@media screen and (min-width: 1100px) {
  .Sidebar-figure-brand-figcaption-title {
    font-size: 22px;
    font-weight: bold;
  }
}
.Sidebar-figure-brand-figcaption-baseline {
  font-size: 13px;
  color: #A9B4D0;
}
@media screen and (min-width: 1100px) {
  .Sidebar-figure-brand-figcaption-baseline {
    font-size: 12px;
  }
}
.Sidebar-figure-burger {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
}
@media screen and (min-width: 1100px) {
  .Sidebar-figure-burger {
    display: none;
  }
}
.Sidebar-figure-burger-img {
  cursor: pointer;
}
.Sidebar-menuArea {
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: calc(100vh - 93px);
  top: -100vh;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0B1020;
  padding-inline: 4em;
  transition: 0.3s;
}
@media screen and (min-width: 1100px) {
  .Sidebar-menuArea {
    position: static;
    height: 100%;
    padding-inline: 1em;
    gap: 2em;
  }
}
.Sidebar-menuArea.open {
  top: 93px;
}
.Sidebar-menuArea.open .Sidebar-menuArea-addBtn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  display: none;
}
.Sidebar-menuArea-nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #A9B4D0;
}
.Sidebar-menuArea-nav-link {
  min-width: 220px;
  display: flex;
  gap: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 8px 24px 0 rgba(15, 23, 42, 0.08);
  font-size: 14px;
}
.Sidebar-menuArea-nav-link:hover {
  background-color: rgba(37, 100, 235, 0.152);
  border: 1px solid rgba(37, 100, 235, 0.348);
}
@media screen and (min-width: 1100px) {
  .Sidebar-menuArea-nav-link {
    font-size: 12px;
  }
}
.Sidebar-menuArea-addBtnDesktop {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  cursor: pointer;
  background-color: #2563EB;
  border-radius: 15px;
  box-shadow: 0 12px 34px 0 rgba(109, 94, 252, 0.35);
  padding: 8px 32px;
  color: #E9EEFC;
  display: none;
}
@media screen and (min-width: 1100px) {
  .Sidebar-menuArea-addBtnDesktop {
    display: block;
    font-size: 13px;
    text-align: center;
  }
}
.Sidebar-menuArea-userBox {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.083);
  border-radius: 12px;
}
.Sidebar-menuArea-userBox-info {
  display: flex;
  gap: 2em;
}
.Sidebar-menuArea-userBox-info-img {
  height: 50px;
}
.Sidebar-menuArea-userBox-info-box-name {
  color: #E9EEFC;
}
.Sidebar-menuArea-userBox-info-box-email {
  color: #A9B4D0;
}
@media screen and (min-width: 1100px) {
  .Sidebar-menuArea-userBox-info-box-email {
    font-size: 12px;
  }
}
.Sidebar-menuArea-userBox-disconnect {
  text-align: center;
  background-color: #FF383C;
  border-radius: 12px;
  padding: 5px;
  color: #E9EEFC;
  box-shadow: 0 12px 34px 0 rgba(109, 94, 252, 0.35);
}
@media screen and (min-width: 1100px) {
  .Sidebar-menuArea-userBox-disconnect {
    background-color: transparent;
    border-radius: 0;
    box-shadow: inherit;
    padding: 0;
    text-decoration: underline;
    font-size: 12px;
  }
}

.Wrapper-main {
  margin-top: 93px;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  .Wrapper-main {
    margin-top: 0px;
    grid-column: 2/3;
  }
}
.Wrapper-main-addBtnMobile {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  align-self: center;
  background-color: #2563EB;
  border-radius: 15px;
  box-shadow: 0 12px 34px 0 rgba(109, 94, 252, 0.35);
  padding: 8px 32px;
  color: #E9EEFC;
}
@media screen and (min-width: 1100px) {
  .Wrapper-main-addBtnMobile {
    display: none;
  }
}

.Candidatures {
  padding-inline: 2em;
}
.Candidatures-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Candidatures-header-box {
  display: flex;
  align-items: center;
  gap: 1em;
}
.Candidatures-header-box-notis {
  position: relative;
  height: 24px;
}
.Candidatures-header-box-notis-count {
  right: 0;
  bottom: 12px;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
}
.Candidatures-header-box-notis-img {
  height: 24px;
  cursor: pointer;
}
.Candidatures-header-box-sort {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #E6E8F0;
  padding: 0.5em 0.5em;
  border-radius: 8px;
  gap: 1em;
}
.Candidatures-header-box-sort-img {
  height: 20px;
}
.Candidatures-header-box-sort-text {
  font-size: 14px;
  color: #020617;
}
.Candidatures-header-box-sort-cta {
  height: 16px;
}
@media screen and (min-width: 1100px) {
  .Candidatures-listWrapper {
    display: flex;
    gap: 1em;
    align-items: flex-start;
  }
}
.Candidatures .List {
  padding: 0 1em 2em;
  border: 1px solid #E6E8F0;
  border-radius: 12px;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 24px 0 rgba(15, 23, 42, 0.08);
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media screen and (min-width: 1100px) {
  .Candidatures .List {
    flex-grow: 1;
  }
}
.Candidatures .List-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Candidatures .List-header-figure {
  display: flex;
  gap: 1em;
}
.Candidatures .List-header-figure-title {
  font-size: 14px;
}
.Candidatures .List-header-applyCount {
  border: 1px solid #E6E8F0;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  color: #475569;
  font-size: 13px;
}
.Candidatures .List .Card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  border: 1px solid #E6E8F0;
  box-shadow: 0 8px 24px 0 rgba(15, 23, 42, 0.08);
  border-radius: 16px;
}
.Candidatures .List .Card-top {
  display: flex;
  justify-content: space-between;
}
.Candidatures .List .Card-top-info-companyName {
  font-weight: bold;
  font-size: 14px;
}
.Candidatures .List .Card-top-info-jobTitle {
  font-size: 13px;
  color: #667085;
}
.Candidatures .List .Card-middle {
  display: flex;
  gap: 0.5em;
}
.Candidatures .List .Card-middle-tag {
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid #E6E8F0;
  border-radius: 50px;
}
.Candidatures .List .Card-middle-tag.toApply {
  border: 1px solid rgba(37, 99, 235, 0.35);
  background-color: rgba(37, 99, 235, 0.2);
}
.Candidatures .List .Card-middle-tag.applied {
  border: 1px solid rgba(35, 196, 131, 0.35);
  background-color: rgba(35, 196, 131, 0.5);
}
.Candidatures .List .Card-bottom {
  display: flex;
  justify-content: space-between;
}
.Candidatures .List .Card-bottom-dateText {
  color: #667085;
  font-size: 12px;
}
.Candidatures .List .Card-bottom-notis {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #667085;
  font-size: 12px;
}
.Candidatures .List .Card-bottom-notis-img {
  height: 18px;
  width: 18px;
}
.Candidatures .List .Card-left {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.Candidatures .List .Card-left-info-companyName {
  font-weight: bold;
  font-size: 14px;
}
.Candidatures .List .Card-left-info-jobTitle {
  font-size: 13px;
  color: #667085;
}
.Candidatures .List .Card-left-tags {
  display: flex;
  gap: 1em;
}
.Candidatures .List .Card-left-tags-tag {
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid #E6E8F0;
  border-radius: 50px;
}
.Candidatures .List .Card-left-tags .toApply {
  border: 1px solid rgba(37, 99, 235, 0.35);
  background-color: rgba(37, 99, 235, 0.2);
}
.Candidatures .List .Card-left-dateText {
  color: #667085;
  font-size: 12px;
}
.Candidatures .List .Card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.Candidatures .List .Card-right-editBtn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  cursor: pointer;
}
.Candidatures .List .Card-right-notis {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #667085;
  font-size: 12px;
}
.Candidatures .List .Card-right-notis-img {
  height: 18px;
  width: 18px;
}/*# sourceMappingURL=style.css.map */