@use 'global' as *;
@use 'variables' as *;
.Wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    @include mq-desktop {
        grid-template-columns: 280px 1fr;
    }
   &-header {
    
   }
   &-main {

   }
 
}

.Sidebar {
    
    display: flex;
    flex-direction: column;
    position: relative;
   
    
     @include mq-desktop {
        gap: 2em;
        background-color: $sidebarBgColor;
        height: 100vh;
        position: fixed;
     }
    
    &-figure {
        
        height: $headerHeight;
        display: flex;
        background-color: $sidebarBgColor;
        justify-content: space-between;
        padding: 1em;
        z-index: 20;
        position: fixed;
        width: 100%;
        @include mq-desktop {
            position: static;
            
        }
        &-brand {
            display: flex;
            gap: 1em;
            &-img {
            height: 50px;
            width: 50px;
            box-shadow: $applyBtnShadow;
            border-radius: 15px;
            @include mq-desktop {
                height: 70px;
            width: 70px;
            }
        }
        &-figcaption {
            color: $sidebarTextColor;
            &-title {
                font-size: 20px;
                @include mq-desktop {
                    font-size: $fontSizeHeader;
                    font-weight: bold;
                }
            }
            &-baseline {
                font-size: $fontSizeSmall;
                color: $sidebarMutedColor;
                @include mq-desktop {
                    font-size: $fontSizeLabel;
                   
                }
            }
            
        } 
        }
        
        &-burger  {
            @include unbuttonize;
            @include mq-desktop {
                display: none;
            }
            &-img {
                cursor: pointer;
                
            }
        }
    }

    &-menuArea  {
        box-sizing: border-box;
        position: fixed;
        z-index: 10;
        width: 100%;
        height: calc(100vh - $headerHeight);
        top: -100vh;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $sidebarBgColor;
        padding-inline : 4em;
        transition: .3s;
        @include mq-desktop {
            position: static;
            height: 100%;
            padding-inline: 1em;
            gap: 2em;
        
        }
        &.open {
            
            top: $headerHeight;
            
            .Sidebar-menuArea {
                &-addBtn {
                 
                    @include unbuttonize;
                    display: none;
                
                    }  // Selector only 
                
                 
            }
            

        }
        &-nav {
            display: flex;
            flex-direction: column;
            gap: 1em;
            color: $sidebarMutedColor;
            &-link {
                min-width: 220px;
                display: flex;
                gap: 0.5em;
                border: $borderColor;
                background-color: $navBoxColor;
                border-radius: 12px;
                padding: 12px;
                box-shadow: $boxShadow;
                font-size: $fontSize;
                &:hover {
                    background-color: $hoverLinkColor;
                    border: $hoverLinkBorder;
                }
                @include mq-desktop {
                    font-size: $fontSizeLabel
                }
            }
            
            
        }
        &-addBtnDesktop {
        @include unbuttonize;
        cursor: pointer;
        background-color: $primaryColor;
        border-radius: $applyBtnRadius;
        box-shadow: $applyBtnShadow;
        padding: $applyBtnPadding;
        color: $sidebarTextColor;
            display: none;
            @include mq-desktop {
                display: block;
                font-size: $fontSizeSmall;
                text-align: center;
            }  
        }
        &-userBox {
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 10px;
            margin-bottom: 20px;
            background-color: $navBoxColor;
            border: 1px solid rgba(255, 255, 255, 0.083);
            border-radius: 12px;
            &-info {
                display: flex;
                gap: 2em;
                &-img {
                    
                    height: 50px;
                }
                &-box {
                    
                    &-name {
                        color: $sidebarTextColor;
                    }
                    &-email {
                        color: $sidebarMutedColor;
                        @include mq-desktop {
                    font-size: $fontSizeLabel
                }
                    }
                }
            }
            &-disconnect {
                text-align: center;
                background-color: #FF383C;
                border-radius: 12px;
                padding: 5px;
                color: $sidebarTextColor;
                box-shadow: $applyBtnShadow;
                @include mq-desktop {
                    background-color: transparent;
                    border-radius: 0;
                    box-shadow: inherit;
                    padding: 0;
                    text-decoration: underline;
                    font-size: $fontSizeLabel;
                }
            }
        }
        
    
    }
             

}

.Wrapper-main {
    margin-top: $headerHeight;
    position: relative;
    display: flex;
    flex-direction: column;
    @include mq-desktop {
        margin-top: 0px;
       
        grid-column: 2 /3 ;
    } 
    &-addBtnMobile {
        @include unbuttonize;
        cursor: pointer;
        position: fixed;
        bottom: 10px;
        align-self: center;
        background-color: $primaryColor;
        border-radius: $applyBtnRadius;
        box-shadow: $applyBtnShadow;
        padding: $applyBtnPadding;
        color: $sidebarTextColor;
        @include mq-desktop {
            display: none;
        }
        
    }

}

.Candidatures {
    
    padding-inline: 2em;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-box {
            display: flex;
            align-items: center;
            gap: 1em;
            &-notis {
                position: relative;
                height: 24px;
                &-count {
                     right: 0;
                    bottom: 12px;
                    font-size: 10px;
                    text-align: center;
                    color: $mainBgColor;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                }
                &-img {
                    height: 24px;
                    cursor: pointer;
                }
            }
            &-sort {
                @include unbuttonize;
                cursor: pointer;
                display: flex;
                align-items: center;
                border: $borderCard;
                padding: 0.5em 0.5em;
                border-radius: 8px;
                gap: 1em;
                &-img {
                    height: 20px;
                }
                &-text {
                    font-size: $fontSize;
                    color: #020617;
                }
                &-cta {
                    height: 16px;
                    
                }

            }
        }
    }
    &-listWrapper {
        @include mq-desktop {
        display: flex;
        gap: 1em;
        align-items: flex-start;
        }
       

    } 
    .List {
        padding: 0 1em 2em;
        border: $borderCard;
        border-radius: 12px;
        margin-bottom:1em;
        background-color: $ListBgColor;
        box-shadow: $boxShadow;
        display: flex;
        flex-direction: column;
        gap: 1em;
        @include mq-desktop {
            flex-grow: 1;
            
        }
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-figure {
                display: flex;
                gap: 1em;
                &-title {
                    font-size: $fontSize;
                }
            }
            &-applyCount {
                border: $borderCard;
                border-radius: 100%;
                width: 1.5em;
                height: 1.5em;
                text-align: center;
                color: $secondaryFontColor ;
                font-size: $fontSizeSmall;
                
            }
        }
       
        .Card {
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1em;
            border: $borderCard;
            box-shadow: $boxShadow;
            border-radius: 16px;
            &-top {
                display: flex;
                justify-content: space-between;
                &-info {
                    &-companyName {
                        font-weight: bold;
                        font-size: $fontSize;
                    }
                    &-jobTitle {
                        font-size: $fontSizeSmall;
                        color : $cardMutedColor;
                    } 
                }
            }
            &-middle {
                display: flex;
                gap: 0.5em;
                &-tag {
                        
                    
                    font-size: $fontSizeLabel;
                    padding: $tagPadding;
                    border: $borderCard;
                    border-radius: 50px;

                    
                    &.toApply {
                    border: $tagToApplyBorder;
                    background-color: $tagToApplyColor;
                    }
                    &.applied {
                        border: $tagAppliedBorder;
                        background-color: $tagAppliedColor;
                    }
                    // Descendants ##############################
                    
                }
            }
             &-bottom {
                display: flex;
                justify-content: space-between;
                
                &-dateText {
                    color : $cardMutedColor;
                    font-size: $fontSizeLabel;
                }
                &-notis {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                    color: $cardMutedColor;
                    font-size: $fontSizeLabel;
                    &-img {
                        height: 18px;
                        width: 18px;
                    }
                }
             }
            &-left {
                display: flex;
                flex-direction: column;
                gap: 0.5em;
                &-info {
                    &-companyName {
                        font-weight: bold;
                        font-size: $fontSize;
                    }
                    &-jobTitle {
                        font-size: $fontSizeSmall;
                        color : $cardMutedColor;
                    } 
                }
                &-tags {
                    display: flex;
                    gap: 1em;
                   
                    &-tag {
                        
                    
                    font-size: $fontSizeLabel;
                    padding: $tagPadding;
                    border: $borderCard;
                    border-radius: 50px;
                    }
                    .toApply {
                    border: $tagToApplyBorder;
                    background-color: $tagToApplyColor;
                    }
                   
                }
                &-dateText {
                    color : $cardMutedColor;
                    font-size: $fontSizeLabel;
                }
            }

            &-right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                &-editBtn {
                    @include unbuttonize;
                    cursor: pointer;
                }
                &-notis {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                    color: $cardMutedColor;
                    font-size: $fontSizeLabel;
                    &-img {
                        height: 18px;
                        width: 18px;
                    }
                }
            }
        }
    }
} 

