$primaryColor : #2563EB;
$secondaryColor : #22D3EE;

$sidebarBgColor : #0B1020;
$sidebarTextColor : #E9EEFC;
$sidebarMutedColor : #A9B4D0;

$sidebarLinkBorder : 1px solid rgba(246, 247, 251, 0.06);

$mainBgColor : #F6F7FB;
$borderColor : 1px solid  rgba(255,255,255, 0.1);
$navBoxColor :rgba(255,255,255, 0.05);

$boxShadow : 0 8px 24px 0 rgba(15, 23, 42, 0.08);
$svgShadow : drop-shadow(0 8px 24px rgba(15, 23, 42, 0.08));
$applyBtnShadow : 0 12px 34px 0 rgba(109, 94, 252, 0.35);

$tagToApplyColor : rgba(37, 99, 235, 0.2);
$tagToApplyBorder : 1px solid rgba(37, 99, 235, 0.35);

$tagAppliedBorder : 1px solid rgba(35, 196, 131, 0.35);
$tagAppliedColor : 1px solid rgba(35, 196, 131, 0.10);

$tagInterviewBorder : 1px solid rgba(203,48,224, 0.35);
$tagInterviewColor : 1px solid rgba(203,48,224, 0.10);

$tagPadding :  6px 10px;

 
$fontSize : 14px;
$fontSizeSmall : 13px;
$fontSizeLabel : 12px;
$fontSizeHeader : 22px;

$headerHeight: 93px;

